# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# Android-specific
android/local.properties
android/.gradle
android/build
android/app/build
android/.cxx
android/gradle/wrapper/gradle-wrapper.jar
.gradle/

# iOS-specific
ios/Flutter/Generated.xcconfig
ios/build
ios/.symlinks
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS-specific
macos/build


# Linux-specific
linux/build

# Windows-specific
windows/build

# Web-specific
web/build

# IDE-specific
.idea/
.vscode/
*.iml
*.iws

# General exclusions
*.DS_Store
*.log
*.swp
*.swo
.packages
.dart_tool
docs/